
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font:inherit;
}

:root{
  --main-background:rgb(161, 161, 153) ;
  --section-padding:60px ;
  --card-color:#888;
  --darkblue-color:darkblue;
}


img{
  width: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}


/*Special Heading Component*/
.special-heading{
  /* background-color: violet; */
  text-align: center;
}
.special-heading h2 {
  color: #ffeb00;
  font-size: 50px;
  letter-spacing: -3px;
  text-transform: capitalize;
}
@media (min-width:768px) {
  .special-heading h2 {
    font-size: 100px;
  }
}
.special-heading  p {
  margin: -20px 0 0;
  font-size: 20px;
  color: #ffffff73;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .special-heading p {
    margin: -30px 0 0;
  }
/* the start of global codes*/
html{
  scroll-behavior: smooth;
  background-color:rgba(0, 0, 0, 0.836);
}
body{
  background-image: url(../imges/front-view-fireless-candles-black.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Work Sans", sans-serif;
}
.container {
  padding: 15px 0;
  margin:0 auto;  
}
a{
  text-decoration:none ;
}
ul{
  list-style: none;
}

button{
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/*Container Sizes*/
/* Small */
@media (min-width: 500px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (mngin-width: 992px) {
    .container {
      width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/* the end of global codes*/

/* the start of landing part*/
.landing{
  position: relative;
  padding: var(--section-padding);
  margin-top: 10px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../imges/306672229_128547136593361_4859113651305317630_n.jpg);
}


/*Hearder Start*/
header.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  transition:background-color  .4s , box-shadow .4s;
}
header.header.fixed{
  box-shadow: 0 0 5px #7e7e7e;
  background-color: #fafafa;
}

header.header .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
@media(max-width:767px){
  header.header .container{
    width: unset;
  }
}

header a.logo-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
}

header a.logo-link img{
  width: 40px;
  height: 40px;
}
@media (min-width:570px){
  header a.logo-link img{
    width: 50px;
    height: 50px;
  }
}

header a.logo-link div.ocd-logo{
  width:82px;
  line-height: 30px;
}
header a.logo-link div.ocd-logo p:nth-child(1){
  color: var(--darkblue-color);
  letter-spacing: -3px;
  font-size: 35px;
}
@media (min-width:570px){
  header a.logo-link div.ocd-logo p:nth-child(1){
    font-size: 40px;
  }
}

header a.logo-link div.ocd-logo p:nth-child(2){
  text-transform: capitalize;
  font-size: 10px;
  color: var(--gray-color);
  line-height: 9px;
}
header nav{
  display: flex;
}
header nav ul.normal-links{
  display: flex;
  position: relative;
}

@media (max-width:768px){
  header nav ul.normal-links{
      flex-direction: column;
      background-color: #ffff;
      box-shadow: 0 0 5px #7e7e7e;
      position: fixed;
      right: -140%;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 290px;
      padding-top: 50px;
      transition: right .5s;
  }
  header nav ul.aside-links{
    right:0;
  }
  header nav ul.normal-links li:first-child{
    border-top: 1px solid #eee;
  }
}
header nav ul.normal-links .close-menu{
  position: absolute;
  top: 9px;
  right: 20px;
  cursor: pointer;
  font-weight: 500;
  color: var(--darkblue-color);
  padding: 10px;
  font-size: 18px;
}

@media (min-width:768px){
  header nav ul.normal-links .close-menu{
    display: none;
  }
}


header nav ul li a{
  position: relative;
  overflow: hidden;
  color: var(--darkblue-color);
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 12px;
  height: 62px;
  font-size: 18px;
  transition: color .3s;
}
@media (max-width:768px) {
  header nav ul li a{
    justify-content: flex-start;
    padding-left:30px;
    height: 50px;
  }
}

header nav ul li a:not(a.active):hover{
  color: rgba(25, 66, 201,.7);
}

header nav ul li a.active{
  color: var(--active-blue);
}

header nav i{
  align-self: center;
  color: var(--darkblue-color);
  cursor: pointer;
  padding:15px 10px;
  margin:0 2px;
}
@media (min-width:768px){
  header nav i.menu-icon{
    display: none;
  }
}

/*Header End*/

/*To Top button*/
button.to-top{
  position: fixed;
  background-color: var(--active-blue);
  color: #fff;
  right: 5px;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 5px var(--darkblue-color);
  transition: all .5s;
}
button.to-top.hide-btn{
  bottom: 0;
  opacity: 0;
}
button.to-top.show-btn{
  bottom: 15px;
  opacity: 1;
}
