*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --main-background:rgb(161, 161, 153) ;
  --section-padding:60px ;
  --card-color:#888;
  --darkblue-color:darkblue;
}


img{
  width: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}


/*Special Heading Component*/
.special-heading{
  /* background-color: violet; */
  text-align: center;
}
.special-heading h2 {
  color: #ffeb00;
  font-size: 50px;
  letter-spacing: -3px;
  text-transform: capitalize;
}
@media (min-width:768px) {
  .special-heading h2 {
    font-size: 100px;
  }
}
.special-heading  p {
  margin: -20px 0 0;
  font-size: 20px;
  color: #ffffff73;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .special-heading p {
    margin: -30px 0 0;
  }
}
/* End Components */

/* the start of global codes*/
html{
  scroll-behavior: smooth;
  background-color:rgba(0, 0, 0, 0.836);
}
body{
  background-image: url(../imges/front-view-fireless-candles-black.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Work Sans", sans-serif;
}
.container {
  padding: 15px 0;
  margin:0 auto;  
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (mngin-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* the end of global codes*/

/* the start of header part*/
.header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9 12 30);
  z-index: 1111;
  /* height:20%; */
}
.header .nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .nav-bar ul li a {
  margin: 0px 15px;
  letter-spacing: 2px;
  font-weight: 500px;
  color: #ffeb00a6;
}
.header .container img.logo{
  width: 50px;
  height: 50px;
    /* align-items: center; */
}


/* the end of header part*/

/* the start of landing part*/
.landing{
  position: relative;
  padding: var(--section-padding);
  margin-top: 10px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
background-image: url(../imges/306672229_128547136593361_4859113651305317630_n.jpg);
}
.landing .welcome-quote {
  display: inline;
  font-size: 30px;
  font-weight: 400;
  color: #9b9d9fab;
  letter-spacing: -3px;
  word-spacing: 5px;
  letter-spacing: 1px;
  line-height: 20px;
  font-variant: small-caps;
}
.landing h1{
  font-size: 95px;
  font-weight:200;
  text-align: center;
  display: flexbox;
  color: #ffea00;
  margin: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
}
.landing p{
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  letter-spacing: 3px;
  color: #ffeb00;
}
/* the end of landing part*/
  .intermidiate .special-head{
    color: #d2d3d957;
    font-size: 100px;
    text-align: center;
    /* padding-top: 25px; */
    font-weight: 800;
    letter-spacing: 4px;
    word-spacing: -15px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* .intermidiate .special-head + p{

    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #070606;
  } */





/* the start of services part*/
.services{
  padding-top:var(--section-padding);
  margin-top: 10px;
  border-radius: 30px;
  margin-top: 130px;
}
.services .content{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(600px ,1fr));
}
.services .content .card{
  flex:    1 1 250px;
  border-radius: 20px;
  padding: 20px;
  background-color: #a1a199;
  margin-bottom: 20px;
  text-align: center;
  width: fit-content;
  transition-delay: 10ms;
  transition-duration: 850ms;
  transition-property: all;
  line-height: 20px;
}
#one{
  background-size: cover;
  background-image: url(../imges/5128557.jpg );
}
.services .content .card:hover{
  /* padding: 40px; */
  margin: 40px;
  font-size: 20px;
}
.services .card h4{
  text-align: center;
  padding: 10px;
}
/* the end of services part*/

/* the start of portfolio part*/
.portfolio{
  padding: var(--section-padding);
  border-radius: 30px;
}

.portfolio .content {
  display: grid;
  grid-template-columns: repeat( auto-fit , minmax(200px ,1fr));
}

.portfolio  .content h4{
 text-align: center;
 font-weight: 400;
 font-size: 20px;
 padding: 15px;
}
.portfolio .content .card{
  background-color: #a1a199;
  margin: 5px;
  border-radius: 10px;
  padding: 15px;
  line-height: 20px;
}







/* the end of portfolio part*/


/* the start of about part*/
.about {
padding: var(--section-padding) 0;
background-color: rgb(21, 8, 51);
}

.about .about_content{
  display: grid;
  place-items: center;
  background-color: seagreen;
}
.about .about_content .about_image{
  width: 250px;
  height: 375px;
}

@media ( min-width:768px) {
  .about .about_content{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* the end of about part*/

/* the start of footer part*/
.footer{

  padding: 20px;
}
.footer h3{
  text-align: center;
}
.footer a{
  display: block;
  width: 50px;

}
.footer i{
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows:(1 ,10px);

}
.footer h4{
  font-size: 60px;
}

/* the end of footer part*/


